.search-list {
  position     : absolute;
  left         : 0;
  top          : 60px;
  background   : #fff;
  width        : 100%;
  max-height   : calc(100vh - 400px);
  overflow-y   : scroll;
  overflow     : auto;
  z-index      : 100;
  // border    : solid 1px;
  box-shadow   : 2px 2px 2px rgb(228, 228, 228) !important;

  .search-title {
    border-bottom: 1px solid #eee;
    font-weight  : bold;
    padding      : 3px 10px;
    text-align   : left;
    font-size    : 14px;
    background   : #f5f5f5;
  }


  .search-item {
    display      : flex;
    gap          : 8px;
    align-items  : center;
    border-bottom: 1px solid #eee;
    padding      : 5px 10px;
    cursor       : pointer;

    div {
      text-align: left;
      font-size : 12px;
    }
  }

  img {
    width     : 35px;
    height    : 35px;
    object-fit: cover;
  }
}