.section-about-body {
    display: flex;
    gap    : 15px;

    .content-left {
        margin: 0 100px;

        .video {
            width : 533px;
            height: 300px;
        }


    }

    .content-right {
        width: 40%;

        p {
            text-align: justify;
            font-style: italic;
        }
    }
}