.slick-prev {
    background-color: red !important;
    position        : relative !important;
    left            : 0 !important;
}

.slick-next {
    background-color: blue !important;
    right           : 0 !important;
}